html {
    background: $base-background-color;
    font-size: $base-font-size;
}

body {
    color: $description-text-color;
    margin: 0;
    font-family: $base-font-family;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    color: $base-text-color;
    font-weight: 400;
    font-family: $blog-font-family;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 46px;
}

h3 {
    font-size: 28px;
}

a {
    color: $link-text-color;
}

.container {
    box-sizing: border-box;
    max-width: 1400px;
    width: 100%;
    padding: 0 7%;
    margin: 0 auto;
}
