// COLORS Brand
$one-brand-color: #fff;
$two-brand-color: #fff;

// COLORS Backgrounds
$base-background-color: #FAFAFA;
$light-gray-background-color: #F3F3F3;

// COLORS Text
$base-text-color: #ddd;
$link-text-color: #ddd;

// COLORS Interfaces
$base-border-color: #EDEDED;
$base-name-color: #fff;
