// COLORS Brand
$one-brand-color: #fff;
$two-brand-color: #fff;

// COLORS Backgrounds
$base-background-color: #c6538c;
$name-background-color: #ddd;

// COLORS Text
$base-text-color: #ddd;
$link-text-color: #ddd;

// COLORS Interfaces
$base-border-color: #fff;
$base-name-color: #fff;
